:root{
    --primary-color:#fff;
    --blue-color:#3D9DF2;
    --green-color:#3BD962;
    --yellow-color:#F2B705;
    --red-color:#F23E2E;
}
html{
    scroll-behavior: smooth;
}
body{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    line-height: 1.7rem;
    font-family:'Roboto', sans-serif;
    background: var(--primary-color);
    overflow-x: hidden;
    width:100vw;
}
/*utility */

/* navbar */


header{
    height:100vh;
    box-shadow: 0px 9px 38px -15px rgba(0,0,0,0.7);
}
#navbar{
    width:100%;
    display: flex;
    position:relative;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    z-index: 2;
}
.nav-logo{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo img{
    height:50px;
    margin-bottom:5px;
}
.nav-logo > span{
    margin-left:0.75rem;
    font-size:1.5rem;
    color:#333;
}
#navbar .hamburger{
    display: none;
}
#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;

}
#navbar ul li{
    display: block;
    padding:0.2rem;
    margin:0.5rem 1rem;
    transition: all 0.4s ease-in-out;
}
#navbar ul li a{
    padding:0.55rem;
    text-decoration: none;
    color:#333;
    display: block;
}
#navbar ul li a:hover{
    animation-name:bounce2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes bounce2{
    0%{
        transform: translateY(0px);
        color:var(--red-color);
    }
    25%{
        transform: translateY(-20px);
        color:var(--yellow-color);
    }
    50%{
        transform: translateY(0px);
        color:var(--blue-color);
    }
    75%{
        transform: translateY(-20px);
        color:var(--green-color);
    }
    100%{
        transform: translateY(0px);
    }
}
@media(max-width:768px){
    #navbar{
        width:100%;
        display: flex;
        flex-direction: column;
        position:relative;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        overflow-x: hidden;
        z-index: 2;
    }
    #navbar ul li a{
        padding:0.1rem;
        text-decoration: none;
        color:#333;
        display: block;
        font-size:0.5rem;
        font-weight: 200px;
    }
    #navbar ul li{
        display: block;
        padding:0.1rem;
        margin:0.5rem 1rem;
        transition: all 0.4s ease-in-out;
    }
}

/*show-case*/
#showcase{
    margin-top:4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.5rem;
}
#showcase .img1{
    margin-bottom: 10px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
}
#showcase #left{
    transform: translateX(-250px);
    height:100px;
    /* display: inline; */
    animation-name:bounce;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
#showcase #right{
    height:100px;
    transform: translateX(280px);
    animation-name:bounce-right;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}
@keyframes bounce{
    0%{
        transform: translateX(-250px);
    }
    50%{
        transform: translateX(-200px);
    }
    100%{
        transform: translateX(-250px);
    }
}
@keyframes bounce-right{
    0%{
        transform: translateX(230px);
    }
    50%{
        transform: translateX(180px);
    }
    100%{
        transform: translateX(230px);
    }
}
#showcase h4{
    margin-bottom:5rem;
}
@media(max-width:768px){
    #showcase{
        margin-top:20vh;
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.5rem;
        /* overflow-x: scroll; */
    }
    #showcase .img1{
        margin-bottom: 10px;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        height: 5px;
    }
    #showcase #left img{
        height:50px;
        /* display: inline; */
    }
    #showcase #right img{
        height:50px;
    }   
    #showcase h2{
        font-size:1rem;
    }
}

