.cube {
  position: relative;
  width: 200px;
  height: 200px;

  transform-style: preserve-3d;
  transform: translateZ(-100px);

  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: translateZ(-100px);
  }
  to {
    transform: translateZ(-100px) rotateY(359deg) rotateX(359deg);
  }
}

.cube .face {
  position: absolute;
  width: 200px;
  height: 200px;

  border: 2px solid #000000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 32px;
  color: #121212;
  text-align: center;
  user-select: none;
}

.cube .face.front {
  background: rgba(255, 71, 84, 0.9);
  transform: rotateY(0deg) translateZ(100px);
}
.cube .face.right {
  background: rgba(182, 42, 52, 0.9);
  transform: rotateY(90deg) translateZ(100px);
}
.cube .face.back {
  background: rgba(138, 29, 36, 0.9);
  transform: rotateY(180deg) translateZ(100px);
}
.cube .face.left {
  background: rgba(255, 91, 101, 0.9);
  transform: rotateY(-90deg) translateZ(100px);
}
.cube .face.top {
  background: rgba(255, 121, 130, 0.9);
  transform: rotateX(90deg) translateZ(100px);
}
.cube .face.bottom {
  background: rgba(71, 18, 22, 0.9);
  transform: rotateX(-90deg) translateZ(100px);
}
